<div class="w-100 h-100 m-0 overflow-hidden">
  <div class="img-fluid">
    <img src="assets/farmsImage/farmHeroImage.png" class="img-fluid" alt="Farms Page Image" width="100%">
  </div>

  <div class="row">
    <div class="col-2">
      Loading...
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12 mt-3 mb-2 ">
         <span class="custom-homeColor">Home</span>  / <span class="custom-farmsColor"> Farms</span>
        </div>

        <div class="col-12 mt-2 mb-2">
          <span class="custom-exploreFarms">Explore Farms</span>
        </div>

        <div class="col-12 mt-5 mb-5">
          <div class="row">
            <div class="col-6 col-md-3 col-lg-2 p-2" *ngFor="let farms of farmsData">
              <img class="img-fluid custom-farmsImage  mb-2 " src="{{farms.FarmsImage}}" alt="Loading...">
              <div class="mt-0">{{farms.FarmsName}}</div>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
</div>
