/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';

input.ng-invalid.ng-touched{
  border-color: red;
}


.border-danger {
  border-color: red;
}


.custom-farmsColor {
  color: #80B435;

}
.custom-homeColor {
  color: #415162;

}
.custom-exploreFarms {
  color: #415162;
  font-size: 26px;
  font-weight: 600;
}
.custom-sideBar{
  height: 100vh;
}



